In [22]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DSA/House_Pricing.csv")

print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21613 non-null  int64
 1   Date House was Sold                        21613 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21613 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21604 non-null  float64
 6   Lot Area (in Sqft)                         21604 non-null  float64
 7   No of Floors                               21613 non-null  float64
 8   Waterfront View                            21613 non-null  object
 9   No of Times Visited                        2124 non-null   object
 10  Condition of the House                     21613 non-null  object
 11  Overall Grade                              21613 non-null  int64
 12  Area of the House from Basement (in Sqft)  21610 non-null  float64
 13  Basement Area (in Sqft)                    21613 non-null  int64
 14  Age of House (in Years)                    21613 non-null  int64
 15  Renovated Year                             21613 non-null  int64
 16  Zipcode                                    21612 non-null  float64
 17  Latitude                                   21612 non-null  float64
 18  Longitude                                  21612 non-null  float64
 19  Living Area after Renovation (in Sqft)     21612 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21613 non-null  int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.5+ MB
None
                 ID    Sale Price  No of Bedrooms  No of Bathrooms  \
count  2.161300e+04  2.160900e+04    21613.000000     21609.000000
mean   4.580302e+09  5.401984e+05        3.370842         2.114732
std    2.876566e+09  3.673890e+05        0.930062         0.770138
min    1.000102e+06  7.500000e+04        0.000000         0.000000
25%    2.123049e+09  3.219500e+05        3.000000         1.750000
50%    3.904930e+09  4.500000e+05        3.000000         2.250000
75%    7.308900e+09  6.450000e+05        4.000000         2.500000
max    9.900000e+09  7.700000e+06       33.000000         8.000000

       Flat Area (in Sqft)  Lot Area (in Sqft)  No of Floors  Overall Grade  \
count         21604.000000        2.160400e+04  21613.000000   21613.000000
mean           2079.931772        1.510776e+04      1.494309       7.623467
std             918.487597        4.142827e+04      0.539989       1.105439
min             290.000000        5.200000e+02      1.000000       1.000000
25%            1429.250000        5.040000e+03      1.000000       7.000000
50%            1910.000000        7.617500e+03      1.500000       7.000000
75%            2550.000000        1.068825e+04      2.000000       8.000000
max           13540.000000        1.651359e+06      3.500000      10.000000

       Area of the House from Basement (in Sqft)  Basement Area (in Sqft)  \
count                               21610.000000             21613.000000
mean                                 1788.344193               291.509045
std                                   827.982604               442.575043
min                                   290.000000                 0.000000
25%                                  1190.000000                 0.000000
50%                                  1560.000000                 0.000000
75%                                  2210.000000               560.000000
max                                  9410.000000              4820.000000

       Age of House (in Years)  Renovated Year       Zipcode      Latitude  \
count             21613.000000    21613.000000  21612.000000  21612.000000
mean                 46.994864       84.402258  98077.937766     47.560048
std                  29.373411      401.679240     53.505425      0.138565
min                   3.000000        0.000000  98001.000000     47.155900
25%                  21.000000        0.000000  98033.000000     47.470975
50%                  43.000000        0.000000  98065.000000     47.571800
75%                  67.000000        0.000000  98118.000000     47.678000
max                 118.000000     2015.000000  98199.000000     47.777600

          Longitude  Living Area after Renovation (in Sqft)  \
count  21612.000000                            21612.000000
mean    -122.213892                             1986.538914
std        0.140830                              685.404255
min     -122.519000                              399.000000
25%     -122.328000                             1490.000000
50%     -122.230000                             1840.000000
75%     -122.125000                             2360.000000
max     -121.315000                             6210.000000

       Lot Area after Renovation (in Sqft)
count                         21613.000000
mean                          12768.455652
std                           27304.179631
min                             651.000000
25%                            5100.000000
50%                            7620.000000
75%                           10083.000000
max                          871200.000000

In [23]:

print(df.isnull().sum())

ID                                               0
Date House was Sold                              0
Sale Price                                       4
No of Bedrooms                                   0
No of Bathrooms                                  4
Flat Area (in Sqft)                              9
Lot Area (in Sqft)                               9
No of Floors                                     0
Waterfront View                                  0
No of Times Visited                          19489
Condition of the House                           0
Overall Grade                                    0
Area of the House from Basement (in Sqft)        3
Basement Area (in Sqft)                          0
Age of House (in Years)                          0
Renovated Year                                   0
Zipcode                                          1
Latitude                                         1
Longitude                                        1
Living Area after Renovation (in Sqft)           1
Lot Area after Renovation (in Sqft)              0
dtype: int64

In [24]:
print(df.columns.tolist())

['ID', 'Date House was Sold', 'Sale Price', 'No of Bedrooms', 'No of Bathrooms', 'Flat Area (in Sqft)', 'Lot Area (in Sqft)', 'No of Floors', 'Waterfront View', 'No of Times Visited', 'Condition of the House', 'Overall Grade', 'Area of the House from Basement (in Sqft)', 'Basement Area (in Sqft)', 'Age of House (in Years)', 'Renovated Year', 'Zipcode', 'Latitude', 'Longitude', 'Living Area after Renovation (in Sqft)', 'Lot Area after Renovation (in Sqft)']

Duplicate Removal

In [25]:
df = df.drop_duplicates()
print("After removing duplicate rows:", df.shape)

After removing duplicate rows: (21613, 21)

Handling Missing Values

In [26]:

for col in df.select_dtypes(include=['int64','float64']):
    df[col] = df[col].fillna(df[col].median())
for col in df.select_dtypes(include=['object']):
    df[col] = df[col].fillna(df[col].mode()[0])

print(df.isnull().sum())

ID                                           0
Date House was Sold                          0
Sale Price                                   0
No of Bedrooms                               0
No of Bathrooms                              0
Flat Area (in Sqft)                          0
Lot Area (in Sqft)                           0
No of Floors                                 0
Waterfront View                              0
No of Times Visited                          0
Condition of the House                       0
Overall Grade                                0
Area of the House from Basement (in Sqft)    0
Basement Area (in Sqft)                      0
Age of House (in Years)                      0
Renovated Year                               0
Zipcode                                      0
Latitude                                     0
Longitude                                    0
Living Area after Renovation (in Sqft)       0
Lot Area after Renovation (in Sqft)          0
dtype: int64

Scaling Numerical Variables

In [27]:
num_cols = df.select_dtypes(include=['int64','float64']).columns
scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

Encoding Categorical Variables

In [28]:
df = pd.get_dummies(df, drop_first=True)
print(df.shape)

(21613, 37)

Outlier Removal

In [29]:
num_cols = df.select_dtypes(include=['int64','float64']).columns

Q1 = df[num_cols].quantile(0.25)
Q3 = df[num_cols].quantile(0.75)
IQR = Q3 - Q1
df = df[~((df[num_cols] < (Q1 - 1.5 * IQR)) | (df[num_cols] > (Q3 + 1.5 * IQR))).any(axis=1)]

print("After outlier removal:", df.shape)

After outlier removal: (15900, 37)

Train-Test Split

In [30]:
X = df.drop("Sale Price", axis=1)
y = df["Sale Price"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(12720, 36) (3180, 36) (12720,) (3180,)